.head {
    height: 60px;
    width: 100%;
    //background-color: antiquewhite;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    line-height: 60px;
    font-size: 1.2rem;
    .note,
    .todo {
        width: 50px;
        text-align: center;
    }

    .item1,
    .item2 {
        color: #8b8b8b;
    }

    a.active {
        color: #000;
    }
}